$lightblue:rgb(81, 194, 219);
$black: rgb(18, 18, 18);

@import '../styles/_mixins';

// mainVisual
.l_mainVisual{
  &__menu{
    position: relative;
    &__list{
      padding-top: 126px;
      background-color: #DC255B;
    }
    &__item{
      margin-top: -64px;
      padding-bottom: 64px;
      border-radius: 55px 0 0 0;    
      &:nth-child(1){
        background-color: #9E1856;
      }
      &:nth-child(2){
        background-color: #AD1B51;
      }
      &:nth-child(3){
        background-color: #E85876;
      }
      &:nth-child(4){
        padding-bottom: 0;
        background-color: #CE6A7B;
      }
    }
    &__link{
      display: block;
      padding: 25px;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      text-decoration: none;
      line-height: 1;
      letter-spacing: .15em;
    }
  }
  &__areaTit{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 68vh;
    color: #000;
  }
  &__tit{
    margin-top: -20px;
    color: #E25772;
    font-size: 4.8rem;
    text-align: center;
    letter-spacing: .2em;
    >span{
      position: relative;
      animation: move-text 0.75s forwards;
      bottom: -1em;
      opacity: 0;
      display: inline-block;
      -webkit-animation: move-text 1.8s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s forwards;
      animation: move-text 1.8s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s forwards;
    }
  }
  &__name{
    position: absolute;
    top: 15px;
    left: 12px;
    letter-spacing: .15em;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  @include pc(){
    &__inner{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
    &__areaTit{
      width: 50%;
      height: 920px;
    }
    &__menu{
      width: 50%;
      height: 920px;
      background-color: #DC255B;
      &__item{
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        &:nth-child(1){
          width: 720px;
          height: 720px;
        }
        &:nth-child(2){
          width: 580px;
          height: 580px;
        }
        &:nth-child(3){
          width: 440px;
          height: 440px;
        }
        &:nth-child(4){
          width: 300px;
          height: 300px;
        }
        &:hover{
          -webkit-transform: scale(1, 1.03);
          transform: scale(1, 1.03);
          -webkit-box-shadow: 0 0 2.3rem rgb(0 0 0 / 30%);
          box-shadow: 0 0 2.3rem rgb(0 0 0 / 30%);
        }
      }
      &__list{
        padding-top: 0;
      }
      &__link{
        padding: 60px 50px 0 0;
        height: 100%;
        font-size: 3rem;
        text-align: right;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;     
      }
    }
    &__name{
      top: auto;
      bottom: 20px;
      left: 25px;
      z-index: 1;
    }
  }
}

@keyframes move-text {
  0% {
    bottom: 0.2em;
    opacity: 0;
  }
  50% {
    bottom: -0.2em;
    opacity: 0.5;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

// profile
.profile{
  background-color: #CE6A7B;
  position: relative;
  &:before{
    position: absolute;
    content: "";
    top: 0;
    left: 64px;
    width: 3px;
    height: 100%;
    background: #AD1B51;
  }
  &__inner{
    padding-top: 65px;
    padding-bottom: 80px;
  }
  &__areaLabel{
    margin-top: 25px;
    width: 100%;
    >div{
      width: 65%;
      border-radius: 30px;
    }
  }
  &__areaTxt{
    margin-top: 30px;
  }  
  &__list{
    padding-left: 80px;
  }
  &__item{
    position: relative;
    &+.profile__item{
      margin-top: 20px;
    }
    &:before{
      position: absolute;
      content: "";
      top: 4px;
      left: -52px;
      width: 25px;
      height: 25px;
      background: #AD1B51;
      border-radius: 50%;
    }
  }
  @include pc(){
    background-color: #fff;
    &:before{
      left: calc(50% + 161px);
      z-index: 10;
    }
    &__bg{
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #CE6A7B;
      z-index: 0;
    }
    &__inner{
      padding-top: 150px;
      padding-bottom: 150px;
    }
    &__tit{
      position: relative;
      z-index: 10;
    }
    &__areaLabelTxt{
      display: flex;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
    }
    &__areaLabel{
      width: 50%;
      text-align: center;
    }
    &__areaTxt{
      margin-top: 0;
      width: 50%;
      float: right;
      position: relative;
      background-color: #CE6A7B;
    }
    &__list{
      padding-left: 0;
    }
    &__item{
      padding-left: 220px;
      &+.profile__item{
        margin-top: 30px;
      }
      &:before{
        left: 150px;
      }
    }
    &__btn{
      margin:40px 0 0 220px;
    }
  }
}

.skill{
  &__inner{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__icons{
    margin: 40px -4px 0;
    &__image{
      margin: 0 4px;
      width: calc(33.3333% - 8px);
      float: left;
    }
  }
  &__img{
    display: block ;
    margin: 60px auto 0;
    width: 60% ;
    max-width: 206px ;
  }
  @include pc(){
    &__inner{
      padding-top: 150px;
      padding-bottom: 40px;
    }
    &__icons{
      width: 55%;
      float: left;
      margin: 45px -19px 0;
      &__image{
        width: calc(25% - 38px);
        margin: 0 19px;
      }
    }
    &__img{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 45%;
      float: left;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: none;
    }
  }
}

// .works
.works{
  &__inner{
    padding: 60px 0 85px;
  }
  &__bg{
    margin: -140px 0 0;
    height: 250px;
    background-color: #AD1B51;
    border-radius: 0 0 25px 25px;
    z-index: 0;
  }
  &__areaList{
    margin: 30px 0 0;
    padding: 0;
    position: relative;
    z-index: 2;
  }
  &__list{
    // max-width: 280px;
    .swiper-pagination{
      margin-top: 30px;
    }
    .swiper-pagination-bullet{
      margin: 0 10px;
      width: 15px;
      height: 15px;
      background: #fff;
    }
  }
  &__item{
    margin: 0 auto;
    width: 87%;
    // max-width: 280px;
    &__img{
      background-color: #fff;
    }
    &__areaTxt{
      margin-top: -2px;
      padding: 12px 0 12px;
      background-color: #fff;
      border-radius: 0 0 30px 30px;
    }
    &__txt{
      color: #333;
      text-align: center;
      font-size: 1.2rem;
    }
  }
  &__link{
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 0 0 30px 30px;
    -webkit-box-shadow: 0 6px 9px 0px rgb(0 0 0 / 16%);
    box-shadow: 0 6px 9px 0px rgb(0 0 0 / 16%);
  }
  @include pc(){
    &__inner{
      padding: 150px 0 50px;
      max-width: none;
    }
    &__bg{
      margin: -233px 0 0;
      height: 400px;
    }
    &__areaList{
      margin: 55px auto 0;
      max-width: none;
    }
    &__item{
      margin-top: 40px;
      margin-bottom: 60px;
      max-width: none;
    }
    &__link{
      width: 80%;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      -webkit-box-shadow: none;
      box-shadow: none;
      &:hover{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-box-shadow: 0 6px 9px 0px rgb(0 0 0 / 16%);
        box-shadow: 0 6px 9px 0px rgb(0 0 0 / 16%);
      }
    }
  }
}

.contact{
  a{
    text-decoration: none;
  }
  &__areaContact{
    padding: 88px 0;
    background: -webkit-linear-gradient(330deg, rgba(232,88,118,0.9), rgba(173,27,81,0.9));
    background: linear-gradient(120deg, rgba(232,88,118,0.9), rgba(173,27,81,0.9));
    border-radius: 25px;
  }
  &__tit{
        font-size: 2rem;
        color: #fff;
        text-align: center;
        letter-spacing: .2em;
  }
  &__txt{
    color: #fff;
    text-align: center;
  }
  @include pc(){
    &__inner{
      padding-top: 150px;
      width: 70%;
    }
    a{
      display: block;
      border-radius: 25px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      &:hover{
        -webkit-transform: scale(1.03, 1.03);
        transform: scale(1.03, 1.03);
        -webkit-box-shadow: 0 0 2.3rem rgb(0 0 0 / 30%);
        box-shadow: 0 0 2.3rem rgb(0 0 0 / 30%);
      }
    }
    &__areaContact{
      padding: 70px 0;
    }
    &__tit{
      font-size: 5rem;
    }
  }
}